h1 {
  color: blue;
  font-size: 250%;
}

p {
  text-indent: 25px;
  font-family: "Times New Roman";
}

#content {
  background-color: #c9fcff;
  padding: 15px;
  border: 2px dotted black;
  width: 500px;
  min-height: 400px;
}

img {
  width: 400px;
  padding: 20px;
  object-fit: contain;
}
